@import "../node_modules/bootstrap/scss/bootstrap.scss";

.con-menu
{   
   background-color: rgb(0, 0, 0,0.8);
    

   
}
.fondo-texto
{
    background-color: rgb(0, 0, 0,0.6);
}
.fondo-menu
{
    background-color: rgba(255, 255, 255, 0.5);
}

a>.icofont-3x
{   
    text-decoration: none;
    color: white;
        
}




.carousel-inner >img, .img_carousel
{
    width: 350px;
    height: 500px;
    background-size: cover;

}

.img-boton
{
    width: 150px;
    height: 150px;
}

.img-boton:hover
{
   border: 2px solid rgb(65, 181, 207);
}


.menu
{
    background-color: black;
}
.img_icon   /* tamaño de imagenes de menu */
{
    width: 75px;
    height: 75px;
}


/* ===================================== */
.contenedor { /* texto centrado en el banner  */
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {   /* texto centrado en el banner  */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* ===================================== */